$color1: #014040;
$color2: #02735E;
$color3: #03A678;
$color4: #F28C0F;
$color5: #591202;
$bodyBackground: "../img/background.png";
$headerBackground: "../img/header.png";
$headerBackgroundMobile: "../img/headerMobile.png";
$responsiveMax-width: 499px;